.footer{
    display: flex;
    flex-direction: column;
    align-items: center;
    text-align: center;
    font-weight: 500;
    margin-top: 3rem;
    gap: 2rem;
    position: relative;
    overflow: hidden;


}

.links a{
    text-decoration: none;
    color: #d09839;
    font-size: 1.5rem;
    font-family: Montserrat;
}

.links ul{
    display: flex;
    flex-direction: column;
    gap: 0.5rem;
}

.copyright{
    font-family: Montserrat;
}

.copyright p{
    padding: 0.5rem;
}

.footer-circle{
    width: 120%;
    height: 120%;
    position: absolute;
    bottom: -200;
    z-index: -12;
    background-color: var(--primary-color);
    border-radius: 50% 50% 0 0;

}

.brand-copy{
    font-weight: bold;
}

.logo-footer{
    width:50px;
    display:flex;
    justify-content: center;
}